* {
    margin: 0;
    padding: 0;
    /* color: black; */
    font-family: "Diphylleia", serif;
    font-weight: 400;
    font-style: normal;
    
}

.Center {
    margin-top: 1vmax;
}

.container2 {
    display: flex;
    flex-direction: row;
    /* background-color: #ecdeab; */
        background-image: linear-gradient(	rgb(234, 196, 146), rgba(247, 183, 98, 0.737)),
    url("BG_6.png");
    height: 624px;
    width: 871px;
    border-radius: 20px;
    margin: 3vmax;


}

.image1 {
    width: 100%;
    object-fit: none;
    height: 1123px;
    margin-top: -249px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Diphylleia", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    
}

.center1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    /* background-color: rgb(237, 216, 190); */
    height: 100vh;
}

.Images {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    color: white;
    flex-wrap: wrap;
    gap: 280px;
    font-size: 30px;
    /* margin-left: 70px; */
}

.im_pr {
    height: 320px;
    width: 300px;
    object-fit: contain;
    border-radius: 1000px;
    font-size: 40px;
    position: relative;
    /* padding: 10px; */
}

.para
{
    padding: 1vmax;
    font-size: medium;
}